img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
}

figure {
    margin: 0;
}

figcaption {
    font-family: var(--font-times);
    font-style: italic;
    font-size: var(--xs);
    color: var(--main-color--black);
}