:root {
    /* Color styles */
--main-color--black: rgba(0, 0, 0, 1);
--main-color--white: rgba(255, 255, 255, 1);
--main-color--yellow: rgba(184, 134, 11, 1);
--main-color--red: rgba(136, 60, 48, 1);

/* Text-size styles */
--xl: 22px;
--l: 20px;
--m: 18px;
--s: 16px;
--xs: 14px;

--font-bebas--neue: 'Bebas Neue';
--font-DM-serif: 'DM serif regular';
--font-times: 'Times New Roman';

--letter-spacing: 0.05rem;
}


