:root {
    /* Color styles */
--main-color--black: rgba(0, 0, 0, 1);
--main-color--white: rgba(255, 255, 255, 1);
--main-color--yellow: rgba(184, 134, 11, 1);
--main-color--red: rgba(136, 60, 48, 1);

/* Text-size styles */
--xl: 22px;
--l: 18px;
--m: 16px;
--s: 14px;
--xs: 12px;

--font-bebas--neue: 'Bebas Neue';
--font-DS-serif: 'DS serif regular';
--font-times: 'Times New Roman';

--letter-spacing: 0.05rem;
}


