.article__bar {
    z-index: 3;
    content: "";
    background-color: var(--main-color--yellow);
    width: 1.5em;
    height: 5px;
    position: absolute;
    display: flex;
    left: 0.4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.article__h2 {
    margin-bottom: 0;
    margin-left: 0.7rem;
}

.article__h3 {
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
}

.article__text {
    margin: 1rem;
    margin-top: 0.7rem;
}

.article__square {
    width: auto;
    height: auto;
    background-color: var(--main-color--red);
    padding-top: 1rem;
}

.article__img {
    width: 80%;
}

.article__frise {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0;
    padding: 0

}

.article__frise:after {
    content: "";
    position: absolute;
    top: 1rem;
    bottom: 2px;
    left: 50%;
    width: 8px;
    background: var(--main-color--red);
    border-radius: 3px;
    z-index: -1;
}

.article__frise-imgleft {
    float: left;
    width: 80%;
    
}

.article__frise-imgright {
    float: right;
   width: 80%;
}