.contact__form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--main-color--yellow);
    border-radius: 10px;
    padding: 10% 5%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background-color: var(--main-color--yellow);
    color: var(--main-color--black);
    border: 0;
}

.contact__label {
    display: flex;
    flex-direction: column;
}

.contact__bar {
    display: block;
    height: 0.5px;
    width: 100%;
    background-color: var(--main-color--black);
    margin: 1% 0 10% 0;
}

::placeholder {
    color: var(--main-color--yellow);
    font-size: var(--s);
}

textarea::placeholder {
    position: absolute;
    bottom: 5%;
}

button[type="submit"] {
    width: 40%;
    border: 0;
    background-color: var(--main-color--red);
    padding: 0.5rem;
    margin-left: 13rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: var(--l);
    font-family: var(--font-DM-serif);
    color: var(--main-color--white);
}